body {
  background-color: powderblue;
  margin: 50px;
}
h1 {
  color: blue;
}
p {
  color: white;
  font-family: verdana;
  font-size: 150%;
  padding:10pt;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: dotted;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: solid;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: solid;
}

p:hover {
  color: brown;
}

input {
  padding: 30px;
}
