body {
  background-color: powderblue;
  margin: 50px;
  scroll-behavior: smooth;
}
h1 {
  color: blue;
  font-size: 10vw;
}
p {
  color: white;
  font-family: verdana;
  font-size: 150%;
  padding:10pt;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: dotted;
}
a{
  background:linear-gradient(#c11063 0 0)var(--p,0)/var(--p,0) no-repeat;
  transition: .4s ,background-position  .0s;
}
a:hover{
  --p:100%;
  color:ffff;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: solid;
}

p:hover {
  color: brown;
}

input {
  padding: 30px;
  color: brown;
  size: 5px;
}
input:hover{
  color:red;
  
}
.left,.right{
  float: left;
  width: 20%;
}
.main{
  float:left;
  width: 20%;
}
@media screen and(max-width: 800px){
  .left, .main, .right{
    width: 100%;
  }
}